:root {
    --primary: #272822;
    --primary-light: #49483E;
    --primary-dark: #1b1b17;
    --window-bar: #1e1f1c;
    --status-bar: #;
    --string: #E6DB74;
    --number: #AE81FF;
    --operator: #F92672;
    --def: #A6E22E;
    --type: #66D9EF;
    --comment: #75715E;
    --text-primary: #e3e5ea;
    --text-secondary: #aaabaf;
    --cursor: #fff;
    --accent: #F92672;
    /*active-line*/
    --line--active: #3e3d32;
    /*  drop down menu  */
    --dd--active-background: #49483E;
    --dd--active-text: #fff;
    /*  tabs-wrapper*/
    --tabs-wrapper: #272822;
    /*  tab */
    --tab-background--active: #272822;
    --tab-text--active: #fff;
    --tab-border--active: #F92672;
    --tab-background--hover: #272822;
    --tab-text--hover: #fff;
    --tab-border--hover: #49483E;
    --tab-background: #272822;
    --tab-text: #aaabaf;
    --tab-border: #F92672;
    /*divider*/
    --divider: #49483E;
    /*terminal*/
    --terminal-text: #e3e5ea;
    /* explorer */
    --explorer-item-text: #e3e5ea;

}

.cm-type {
    color: var(--type) !important;
}

.cm-def {
    color: var(--def) !important;
}

.cm-keyword {
    color: var(--operator) !important;
}

.cm-comment {
    color: var(--comment) !important;
}

.cm-operator {
    color: var(--operator) !important;
}

.cm-number {
    color: var(--number) !important;
}

.cm-string {
    color: var(--string) !important;
}

.cm-meta {
    color: var(--operator) !important;
}

.cm-atom {
    color: var(--number) !important;
}


.react-codemirror2 {
    flex: 1;
    width: 100%;
    overflow: hidden;
}

.CodeMirror {
    width: 100%;
    height: 100%;
    padding-top: 12px;
    color: var(--text-primary);
    font-size: 0.96em;
    background-color: var(--primary);
    font-family: 'consolas', sans-serif;
    /* TODO change this to a local font */
}

.CodeMirror-selected {
    background-color: var(--line--active) !important;
    border-radius: 2px;
}

.CodeMirror-matchingbracket {
    outline: 1px solid rgba(255, 255, 255, 0.397);
    color: var(--text-primary) !important;
}

.CodeMirror-cursor {
    border-left: 1px solid var(--cursor) !important;
}

.CodeMirror-line {
    height: 20px !important;
    padding-left: 0px !important;
}

.CodeMirror-activeline-background{
    border: 0;
    background-color: var(--line--active) !important;
}

.CodeMirror-gutters {
    background-color: var(--primary) !important;
    border: 0;
    padding-left: 12px !important;
    width: 55px !important;
}

.cm-tab::before{
    position: absolute;
    color: var(--primary-light) !important;
    content: "....";
    vertical-align: middle;
    margin-top: -0.2em;
    z-index: -1;
}