

.cm-type {
    color: var(--type) !important;
}

.cm-def {
    color: var(--def) !important;
}

.cm-keyword {
    color: var(--operator) !important;
}

.cm-comment {
    color: var(--comment) !important;
}

.cm-operator {
    color: var(--operator) !important;
}

.cm-number {
    color: var(--number) !important;
}

.cm-string {
    color: var(--string) !important;
}

.cm-meta {
    color: var(--operator) !important;
}

.cm-atom {
    color: var(--number) !important;
}


.react-codemirror2 {
    flex: 1;
    width: 100%;
    overflow: hidden;
}

.CodeMirror {
    width: 100%;
    height: 100%;
    padding-top: 12px;
    color: var(--text-primary);
    font-size: 0.96em;
    background-color: var(--primary);
    font-family: 'consolas', sans-serif;
    /* TODO change this to a local font */
}

.CodeMirror-selected {
    background-color: var(--line--active) !important;
    border-radius: 2px;
}

.CodeMirror-matchingbracket {
    outline: 1px solid rgba(255, 255, 255, 0.397);
    color: var(--text-primary) !important;
}

.CodeMirror-cursor {
    border-left: 1px solid var(--cursor) !important;
}

.CodeMirror-line {
    height: 20px !important;
    padding-left: 0px !important;
}

.CodeMirror-activeline-background{
    border: 0;
    background-color: var(--line--active) !important;
}

.CodeMirror-gutters {
    background-color: var(--primary) !important;
    border: 0;
    padding-left: 12px !important;
    width: 55px !important;
}

.cm-tab::before{
    position: absolute;
    color: var(--primary-light) !important;
    content: "....";
    vertical-align: middle;
    margin-top: -0.2em;
    z-index: -1;
}