.tabs {
    padding-left: 32px;
    background-color: var(--primary);
    width: 100%;
    white-space: nowrap;
    flex-direction: row;
    overflow: auto;
}

.tabs::-webkit-scrollbar{
    height: 0px;
}