.terminal{
    max-height: 70%;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
}

.resizable{
    border-top: 1px solid var(--primary-light);
    padding: 12px;
    overflow: auto;
    flex: 1;
    color: var(--text-secondary);
    font-size: 0.9em;
}

#resizer{
    cursor: row-resize;
    height: 5px;
    background-color: var(--primary);
}