.terminal{
    max-height: 70%;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
}

.terminal__body{
    border-top: 1px solid var(--primary-light);
    padding: 12px;
    overflow: auto;
    flex: 1;
    height: 120px;
    color: var(--text-secondary);
    font-size: 0.9em;
}

.terminal__title{
    font-size: 0.9em;
    margin-bottom: 12px;
}

#resizer{
    cursor: row-resize;
    height: 5px;
    background-color: var(--primary);
}

.terminal__message::before{
    content: " - ";
    color: var(--accent);
}