.terminal-wrapper {
    max-height: 70%;
    background-color: var(--primary);
    height: 220px;
    display: flex;
    flex-direction: column;
}

.terminal {
    overflow: hidden;
    flex: 1;
    color: var(--terminal-text);
    font-size: 0.9em;
}

.terminal__title {
    font-size: 0.9em;
    margin-bottom: 12px;
    padding: 7px 12px 0px 12px;
    color: var(--text-secondary);
}

.terminal__body {
    padding: 0px 12px;
    height: 100%;
    overflow: auto;
}

#resizer {
    cursor: row-resize;
    height: 5px;
    border-top: 1px solid var(--divider);
    position: relative;
    background-color: var(--primary);
}

.terminal__message {
    margin-left: 10px;
    line-height: 1.5em;
}

/* .terminal__message::before{
    content: " - ";
    color: var(--accent);
} */

.terminal__message--header {
    color: var(--accent);
}