.status-bar{
    height: 25px;
    width: 100%;
    border-top: 1px solid var(--divider);
    background-color: var(--primary);
    color: var(--text-secondary);
    font-size: 0.7em;
    -webkit-user-select: none;
    display: flex;

}
.status-bar__block{
    display: inline-block;
    cursor: pointer;
    height: 100%;
    padding: 3px 12px;
}

.status-bar__spacer{
    flex: 1;
}

.status-bar__block:hover{
    background-color: var(--primary-light);
}