.tab {
    color: var(--text-secondary);
    height: 100%;
    font-size: 0.9em;
    -webkit-app-region: no-drag;
    -webkit-user-select: none;
    transition: all 0.1s ease;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    display: inline-block;
}

.tab--selected{
    color: var(--text-primary);
    border-bottom: 2px solid var(--operator);
}


.tab:hover{
    color: var(--text-primary);
}

.tab div{
    height: 100%;
    display: inline-block;
}

.tab-title{
    font-size: 0.9em;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.tab-close-btn{
    font-size: 0.8em;
    padding: 4px;
}