:root{
    --tab-border-width: 1.5px
}
.tab {
    color: var(--tab-text);
    height: 100%;
    font-size: 0.9em;
    -webkit-app-region: no-drag;
    -webkit-user-select: none;
    transition: all 0.1s ease;
    border-bottom: var(--tab-border-width) solid transparent;
    cursor: pointer;
    display: inline-block;
}

.tab--selected{
    color: var(--tab-text--active);
    background-color: var(--tab-background--active);
    border-color: var(--tab-border--active) !important;
}


.tab:hover{
    color: var(--tab-text--hover);
    border-color: var(--tab-border--hover);
}

.tab div{
    height: 100%;
    display: inline-block;
}

.tab-title{
    font-size: 0.9em;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.tab-close-btn{
    font-size: 0.8em;
    padding: 4px;
}